.react-codemirror2 {
  height: 100%
}
.CodeMirror { 
  height: 100%
}
.reflex-container.vertical > .reflex-splitter {
  width: 4px;
  background-color: #c6c6c6
}
.reflex-container.vertical > .reflex-splitter:hover, .reflex-container.vertical > .reflex-splitter.active {
  background-color: #bbb;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

.chartjs-render-monitor {
  width: 100% !important;
}
